@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ribeye|Arvo|Sail|Graduate|Cookie|Bevan);

/*-------------------------------------
Primary Styles
-------------------------------------*/
// All

html {
    margin: 0;
    padding: 0;
	overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    @extend html;
    
    background: #ededed url(../images/bg-lg.jpg) no-repeat fixed top center;
    background-size: cover;

    h1, h2, h3, h4, h5 {
        font-family: 'Arvo', sans-serif;
	    letter-spacing: 1px;
	    font-weight: 400;
        line-height: 1.1em;
    }

    .coursetitle {
        color:#fff;
    }

    .video-player {
        background: url(../images/video-md.png) no-repeat;
        border:1px solid #444;
        border-radius: 5px;
        width: 420px;
        height: 280px;

        &:hover {
            cursor:pointer;
        }
    }

    //--------------------------------------------------------
    //SECTIONS
    
    .section:nth-child(2n) { /*evens*/
        background: rgba(0,0,0,.4);
        color: #fff;
    }
    
    .section:nth-child(2n+1) { /*odds*/
        background: #fff;
        color: #333;
    }
    
    .section:nth-child(1) {
        background: rgba(130,130,130,.1) url(../images/mbaclass.png) top right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    //--------------------------------------------------------
    //IDENTIFIERS

    .ucf {
        background-image: url(../images/ucflogo.png);
        background-repeat: no-repeat;
        position: absolute;
        /*
        background-size: 310px;
        width: 310px;
        height: 25px;
        */
        text-indent: -999px;
    }

    .copyright {
        padding:5px;
        font-size:.6em;
        color:#ddd;
        position:fixed;
        bottom:0;
        left:0;
        z-index: 100;
    }
}

// Tablet
@media screen and (max-width: 999px){
    
    body {

        .ucf {
            background-size: 300px;
            width: 300px;
            height: 25px;
            top: -1.5%;
            left: 1.5%;
        }

        .video-player {
            width: 230px;
            height: 170px;
        }

        .coursetitle {
            margin-top:40px;
            font-size: 2.8em;
            width: 400px;
        }

    }
}

// Mobile
@media screen and (max-width: 599px){
    
    body {
        
        .ucf {
            background-size: 200px;
            width: 200px;
            height: 25px;
            top: -3.5%;
            left: 1.5%;
        }
        .video-player {
            background: url(../images/video-md.png) no-repeat;
            border:1px solid #444;
            border-radius: 5px;
        }

        .coursetitle {
            margin-top:23px;
            font-size: 2em;
            width: 320px;
        }
        
    }
}

// Small Desktop
@media screen and (min-width: 1000px){

    body {
        
        .ucf {
            background-size: 300px;
            width: 300px;
            height: 25px;
            top: 0;
            left: 1.5%;
        }
    
        .video-player {
            background: url(../images/video-md.png) no-repeat;
            border:1px solid #444;
            border-radius: 5px;
            width: 420px;
            height: 280px;

            &:hover {
                cursor:pointer;
            }
        }

        .coursetitle {
            margin-top:60px;
            font-size: 3em;
            width: 400px;
        }
    }
    
}

// Notebook
@media screen and (min-width: 1300px){}

// Large Desktop
@media screen and (min-width: 1600px){}


// Partials
/*-------------------------------------
Social
-------------------------------------*/
@import 'partials/socialbuttons';


// Modules
/*-------------------------------------
Fullpage JS
-------------------------------------*/
@import 'modules/fullpage/fullpage';
@import 'modules/fullpage/section';
