// --------------------------------------------------
// Primary Styles (above the fold elements only)
// --------------------------------------------------

html {height: 100% !important}

.js {
    //overflow: hidden;
}

.no-js {

    body {
		overflow: auto;
	}
    
    .page {
        width: 100%;
        height: 100%;
    }
}

body {
    @extend html;

    background: #ededed url(../images/bg-lg1.jpg) no-repeat fixed top center;
    background-size: cover;

    padding: 0;
    letter-spacing: 1px;
    position: relative;
    z-index: 0
}

/* Main central area styles */
.page {
    word-wrap: break-word;
    position: relative;
    z-index: 3;
}

 h1, h2, h3, h4, h5 {
    font-family: 'Arvo', sans-serif;
}