/* line 5, scss/global.scss */
html, body { height: 100% !important; }

/* line 13, scss/global.scss */
.no-js body { overflow: auto; }
/* line 17, scss/global.scss */
.no-js .page { width: 100%; height: 100%; }

/* line 23, scss/global.scss */
body { padding: 0; letter-spacing: 1px; position: relative; z-index: 0; }

/* Main central area styles */
/* line 36, scss/global.scss */
.page { word-wrap: break-word; position: relative; z-index: 3; }

/* h1, h2, h3, h4, h5 { font-family: 'Arvo', sans-serif;
}*/
