// All Screens

.fullPage-header {
    position: absolute;
    top: 0;
    left: 3%;
}

// Tablet
@media screen and (max-width: 999px){
    
    .section {
        
        .fullPage-header {
            position: absolute;
            top: 0;
            left: 3%;
        }
        
        .fullPage-sectionsNav {
            display: none;
            visibility: hidden;
        }
    }

}

// Mobile
@media screen and (max-width: 599px){
    .section {

        .fullPage-header {
            position: absolute;
            top: 0;
            left: 3%;
        }

    }
}

// Small Desktop
@media screen and (min-width: 1000px){

    .section {
        
        .fullPage-header {
            position: absolute;
            top: 5%;
            left: 5%;
        }
        
        .fullPage-sectionsNav {
            /*
            background: rgba(255,255,255,.3); //-white
            background: rgba(255,204,0,0.63); //-yellow
            border: 2px solid #ffcc00;
            border-radius: 25px;
            */

            padding: .1em .35em;
            position: absolute;
            left: 48%;
            z-index: 100;

            text-decoration: none;
            font-size: 1.8em;
            color: #555;

            &.top {
                top: 10px;
                opacity: 0.65;
                filter: Alpha(opacity=65);  /*IE8 and earlier */

                &:hover {
                    opacity: 1;
                    filter: Alpha(opacity=100);  /*IE8 and earlier */
                }
            }

            &.bottom {
                bottom: 10px;
                opacity: 0.65;
                filter: Alpha(opacity=65);  /*IE8 and earlier */

                &:hover {
                    opacity: 1;
                    filter: Alpha(opacity=100);  /*IE8 and earlier */
                }
            }

            &.gotonext {
                bottom: 10px;
                opacity: 0.65;
                filter: Alpha(opacity=65);  /*IE8 and earlier */

                &:hover {
                    opacity: 1;
                    filter: Alpha(opacity=100);  /*IE8 and earlier */
                }

                &:before {
                    content:"Scroll for More";
                    //padding-bottom: .6em;
                    text-align: center;
                    width: 80px;
                    font-size: 0.45em;
                    position: absolute;
                    bottom: 45px;
                    left: -48%;
                }
            }

            &.gototop {
                bottom: 10px;
                opacity: 0.65;
                filter: Alpha(opacity=65);  /*IE8 and earlier */

                &:hover {
                    opacity: 1;
                    filter: Alpha(opacity=100);  /*IE8 and earlier */
                }

                &:before {
                    content:"Back to Top";
                    //padding-bottom: .6em;
                    text-align: center;
                    width: 80px;
                    font-size: 0.45em;
                    position: absolute;
                    bottom: 45px;
                    left: -48%;
                }
            }
        }
        
    }

}

// Notebook
@media screen and (min-width: 1300px){}

// Large Desktop
@media screen and (min-width: 1600px){}