// All Viewports

.fullPage-header {
    position: absolute;
    top: 0;
    left: 3%;
}

.fullPage-sectionsNav {
    /*
    background: rgba(255,255,255,.3); //- white
    */
    background: rgba(255,204,0,0.3); //- yellow
    border: 2px solid #ffcc00;
    border-radius: 25px;
    padding: .1em .35em;
    position: absolute;
    left: 48%;
    z-index: 100;

    text-decoration: none;
    color: #fff;

    &.gotonext {
        font-size: 1.8em;
        bottom: 5%;
        opacity: 0.85;
        filter: Alpha(opacity=85); //- IE8 and earlier

        &:hover {
            opacity: 1;
            filter: Alpha(opacity=100); //- IE8 and earlier
        }

        &:before {
            content:"Learn More";
            text-align: center;
            width: 100px;
            font-size: 0.50em;
            position: absolute;
            bottom: 50px;
            right: -30px;
        }
    }
    
    /*
    &.gototop {
        bottom: 10px;
        opacity: 0.85;
        filter: Alpha(opacity=85); //- IE8 and earlier

        &:hover {
            opacity: 1;
            filter: Alpha(opacity=100); //- IE8 and earlier
        }

        &:before {
            content:"Back to Top";
            //padding-bottom: .6em;
            text-align: center;
            width: 80px;
            font-size: 0.55em;
            position: absolute;
            bottom: 45px;
            left: -48%;
        }
    }
    */
}

// Tablet
@media (max-width: 999px){
    .fullPage-sectionsNav {
        left: 47%;
    }
}

// Mobile-Landscape
@media (max-width: 699px) and (orientation: landscape){}

// Mobile-Portrait
@media (max-width: 499px) and (orientation: portrait){
    .fullPage-sectionsNav {
        left: 43%;
    }
}

// Small Desktop
@media (min-width: 1000px){}

// Notebook
@media (min-width: 1300px){}

// Large Desktop
@media (min-width: 1600px){}