// All Screens

.controlArrow {
    width: 0;
    height: 0;
    cursor: pointer;
    position: absolute;
    top: 48.5%;

    opacity: 1;
    filter: Alpha(opacity=100);  /*IE8 and earlier */

    &:hover {
        opacity: 0.65;
        filter: Alpha(opacity=65);  /*IE8 and earlier */
    }
}
.controlArrow.prev {
    left: 15px;
    border-width: 0;
    border-color: transparent;

    i {
        font-size: 2.3em;
    }
}
.controlArrow.next {
    right: 35px;
    border-width: 0;
    border-color: transparent;

    i {
        font-size: 2.3em;
    }
}


// Tablet
@media screen and (max-width: 999px) {
    
}

// Mobile
@media screen and (max-width: 599px) {
    
}

// Small Desktop
@media screen and (min-width: 1000px){

    .controlArrow.prev {
        left: 40px;
        border-width: 0;
        border-color: transparent;

        i {
            font-size: 2.3em;
        }
    }
    .controlArrow.next {
        right: 60px;
        border-width: 0;
        border-color: transparent;

        i {
            font-size: 2.3em;
        }
    }

}

// Notebook
@media screen and (min-width: 1300px){
    
}

// Large Desktop
@media screen and (min-width: 1600px){
    
}