// All Screens

.controlArrow {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 2em;
    margin-top: -38px;

    &.prev {
        left: 15px;
        width: 0;
    }

    &.next {
        right: 35px;
    }
}

// Tablet
@media (max-width: 999px){
    .controlArrow {
        top: 90%;
    }

}

// Mobile-Landscape
@media (max-width: 699px) and (orientation: landscape){}

// Mobile-Portrait
@media (max-width: 499px) and (orientation: portrait){
    .controlArrow {
        top: 90%;
    }
}

// Small Desktop
@media (min-width: 1000px){
    .controlArrow {
        top: 90%;
        cursor: pointer;
    }
}

// Notebook
@media (min-width: 1300px){}

// Large Desktop
@media (min-width: 1600px){}